<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="one_dynamixel_simulation_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware/DynamixelHardware</plugin>
        <param name="usb_port">/dev/ttyUSB0</param>
        <param name="baud_rate">1000000</param>
        <!-- <param name="use_dummy">true</param> -->
      </hardware>
      <joint name="joint1">
        <param name="id">1</param>
        <command_interface name="position"/>
                <param name="min">${-pi}</param>
                <param name="max">${pi}</param>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <!-- <transmission name="transmissionjoint1">
          <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="joint1" role="joint1">
              <mechanical_reduction>200.0</mechanical_reduction>
              <offset>0.0</offset>
          </joint>
      </transmission>       -->
    </ros2_control>

  </xacro:macro>

</robot>
